.no-players-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow-y: hidden;
}

.player-name-container {
	display: grid;
	/* Name, trash icon, color picker */
	grid-template-columns: auto auto 1fr;

	& .player-color-picker {
		display: flex;
		justify-self: end;
		align-items: center;
		column-gap: 1rem;

	}
}

.remove-favorite-icon {
	margin-inline-end: 1ch;

	&:hover {
		cursor: pointer;
	}
}
